<section class="vh-100" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;background-color: rgb(255, 255, 255);">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-6 d-none d-md-block">
                            <img width="100%" height="100%" alt="Angular Logo" src="../../../assets/ilustracion-concepto-inicio-sesion_114360-739.webp"
                                style="border-radius: 1rem 0 0 1rem; " />
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form action="">
                                    <div class="form-group">

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;color: #000000;">Sign
                                            into your account</h5>


                                        <label class="form-label" for="" style="color: #000000;">Email
                                            address</label>
                                        <input type="email" class="form-control" [(ngModel)]="user.email"
                                            name="email" />
                                        <label class="form-label" for="" style="color: #000000;">Password</label>
                                        <input type="password" class="form-control" [(ngModel)]="user.password"
                                            name="password" />



                                        <div class="pt-1 mb-4 mt-4">
                                            <button (click)="login()" class="btn btn-info  btn-block"
                                                type="button">Login</button>
                                        </div>
                                        <div class="pt-1 mb-4">
                                            <button (click)="signup()" class="btn btn-secondary btn-block"
                                                type="button">Sign up</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
