<!-- Section: Design Block -->
<section class="vh-100" style="background-color:#000000;">

    <!-- Jumbotron -->
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">

                <div class="card" style="border-radius: 1rem;background-color: rgb(21, 21, 21);">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block" style="padding-left: 13px; padding-top:0px ">
                            <img width="100%" height="100%" alt="Angular Logo" src="../assets/image 2.png"
                                style="border-radius: 1rem 0 0 1rem; margin-bottom: 0px; " />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                            <h2 class="fw-bold mb-5" style="color: #ffffff;">Sign up</h2>
                            <form action="">
                                <div class="form-group">

                                    <label class="form-label" for="" style="color: #ffffff;">
                                        Name</label>
                                    <input type="text"  class="form-control" [(ngModel)]="user.name" name="name"/>




                                    <label class="form-label" for="" style="color: #ffffff;">Full
                                        name</label>
                                    <input type="text"  class="form-control"[(ngModel)]="user.fullname" name="fullname"/>



                                    <!-- Email input -->

                                    <label class="form-label" for="" style="color: #ffffff;">email</label>
                                    <input type="email" class="form-control"[(ngModel)]="user.email" name="email"/>




                                    <!-- Password input -->

                                    <label class="form-label" for=""
                                        style="color: #ffffff;">Password</label>
                                    <input type="password"  class="form-control" [(ngModel)]="user.password" name="password"/>




                                    <!-- Submit button -->
                                    <button (click)="register()" type="submit" class="btn btn-secondary btn-block mb-4 mt-4">
                                        Sign up
                                    </button>

                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>