<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" (click)="OpenNavbar()" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show':navOpen}">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <span style="color:rgba(38, 38, 38, 0.713)">Wires</span>
            </a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="session_Active()">
                    <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
                </li>
                <li class="nav-item" *ngIf="session_Active()">
                    <a class="nav-link" routerLink="/mymessage" routerLinkActive="active">My Message</a>
                </li>
                <li class="nav-item" *ngIf="session_Active()">
                    <a class="nav-link" routerLink="/allmessage" routerLinkActive="active">All Message</a>
                </li>
                <li class="nav-item" *ngIf="session_Active()">
                    <a class="nav-link" routerLink="/create" routerLinkActive="active">Create Message</a>
                </li>
            </ul>



        </div>
        <div class="d-flex align-items-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!session_Active()"><a class="nav-link" routerLink="/login"><img
                            src="../assets/log-in-sharp.svg" alt=""></a></li>
                <li class="nav-item" *ngIf="session_Active() "><a class="nav-link" (click)="logout()"><img
                            src="../assets/Off_font_awesome.png" alt="" width="21"></a></li>
            </ul>

        </div>
    </div>



</nav>




<router-outlet></router-outlet>