body{
    width: 100vw;
    height: 100vh;
    background: url("./assets/ilustracion-concepto-cuenta_114360-399.webp");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    

}
::-webkit-scrollbar {
    display: none;
}
